*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../images/background2.webp');
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto; 
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.sig-pro-info{
  margin-top: 80px;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.backlink{
  font-size: 13px;
  color: #555;
}
.backlink a{
  font-size: 13px;
  color: #555;
  text-decoration: none;
  transition: 0.5s;
}
.backlink a:hover{
  text-decoration: underline;
}
.row-2{
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 45%;
  min-width: 300px;
  padding: 20px;
}
.col-2 img{
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);
  margin-bottom: 18px;
}
.sig-pro-info h4{
  margin: 20px 0;
  font-size: 22px;
  padding-top: 5%;
  border-top: 1px solid #eee;
  font-weight: bold;
}
.sig-pro-info input{
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-right: 0;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #000;
  margin-top: 5%;
}
.sig-pro-info input:focus{
  outline: none;
}
.add-btn{
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 32px;
}
.other{
  border-top: 1px solid #eee;
}
.col-2 form h1{
  font-size: 40px;
}
.col-2 p{
  color: #555;
  font-size: 16px;
}
.col-2 h3{
  color: #555;
  border-top: 1px solid #eee;
  padding-top: 5%;
}
.price-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #eee;
  padding-top: 5%;
  margin: 20px 0;
}
.price-col{
  flex-basis: 45%;
}
.price-col h4{
  font-size: 22px;
  font-weight: bold;
}

.sig-pro-info h3 span{
  color: #555;
  margin-left: 10px;
  transform: translateY(5px);
}
.col-2 .small-img-row{
  display: flex;
  justify-content: space-between;
}
.col-2 .small-img-col{
  flex-basis: 30%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.col-2 .small-img-col img{
  box-shadow: none;
  margin-bottom: 0;
  border-radius: 10px;
  width: 100%;
  display: block;
}
.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover{
  background: rgba(30, 63, 22, 0.538);
}
.layer p{
  color: transparent;
  text-align: center;
}
.featured{
  margin: 70px 0;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #3b3b3b;
}
.title::after{
  content: '';
  background: #c5f13397;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 5%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1%;
  transition: transform 0.5s;
}
.col-3:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.col-3 a{
  text-decoration: none;
  color: #000;
}
.col-3 a img{
  width: 100%;
  border-radius: 6px;
}
.col-3 a h4, .col-3 a p{
    color: #555;
}
.col-3 a p{
    font-size: 14px;
}
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.ftr-col-1, .ftr-col-2{
  min-width: 250px;
  margin-bottom: 20px;
}
.ftr-col-1{
  flex: 1;
  max-width: 100px;
  text-align: center;
}
.ftr-col-1 img{
  width: 150px;
  margin-bottom: 20px;
}
.ftr-col-2{
  flex-basis: 12%;
  text-align: center;
}
.ftr-col-2 ul{
  list-style-type: none;
}
.ftr-col-2 ul li a{
  text-decoration: none;
  color: #8a8a8a;
}