*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../images/background2.webp');
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li a span{
  font-size: 30px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto; 
  transition: 0.5s;
  border-radius: 5px;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.nav-links ul li.active::after{
  width: 70%;
  left: 0;
  margin: 0;
}

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}
.cart-active{
  right: 0;
  transition: 0.5s;
}
.cart-title{
  text-align: left;
  margin: 0 auto 40px;
  position: relative;
  line-height: 60px;
  color: #3b3b3b;
}
.cart-title::after{
  content: '';
  background: #c5f13397;
  width: 70px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cart-content{
  text-align: left;
}
.cart-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #eee;
  padding-bottom: 5%;
}
.cart-img{
  border-radius: 6px;
}
.detail-box{
  margin-left: 15px;
  max-width: 50%;
}
.detail-box h3{
  margin-bottom: 5%;
}
.price-box{
  display: flex;
  justify-content: start;
  margin-bottom: 5%;
}
.price-box p{
  font-size: 14px;
}
.price-box h4{
  margin-left: 10%;
}


.featured{
  margin: 70px 0;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.title{
  text-align: left;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #3b3b3b;
}
.title::after{
  content: '';
  background: #c5f13397;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 5%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1%;
  transition: transform 0.5s;
}
.col-3:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.col-3 a{
  text-decoration: none;
  color: #000;
}
.col-3 a img{
  width: 100%;
  border-radius: 6px;
}
.col-3 a h4, .col-3 a p{
  color: #555;
}
.col-3 a p{
  font-size: 14px;
}
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.ftr-col-1, .ftr-col-2{
  min-width: 250px;
  margin-bottom: 20px;
}
.ftr-col-1{
  flex: 1;
  max-width: 100px;
  text-align: center;
}
.ftr-col-1 img{
  width: 150px;
  margin-bottom: 20px;
}
.ftr-col-2{
  flex-basis: 12%;
  text-align: center;
}
.ftr-col-2 ul{
  list-style-type: none;
}
.ftr-col-2 ul li a{
  text-decoration: none;
  color: #8a8a8a;
}