.title {
  margin-top: 25px;
  background-color: #e91c63;
  padding: 32px;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  color: #fff;
  text-align: center;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 275px;
  background-color: #009688;
}
  
.demo-card-square > .mdl-card__title {
  color: #fff;
}

.float-container {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.float-child1 {
  margin: 20px;
}

.float-child2 {
  margin: 20px;
}

.float-child3 {
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h6 {
  text-align: left;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

.choices {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  size: auto;
}

.bottom-title-text {
  color: #fff;
}

.bottom-text {
  color: #dedede;
}
