body {
  background-color: deeppink;
}

h1 {
  background-color: darkred;
  color: #3cb472;
  padding: 40px;
  text-align: right;
}

#para1 {
  background-color: aliceblue;
  text-align: right;
}

img {
  display: block;
  margin-left: 100%;
}
